

body {
    /*font-family: 'Montserrat', sans-serif;*/
    background-color: var(--theme-color);
    color: var(--text-color);
    padding: 10px;
    position:relative;
   
  }

/*
  .contenedor{

  /*background-color: brown;
}
*/
